---
http_interactions:
- request:
    method: get
    uri: https://soundstorm.social/.well-known/webfinger?resource=acct:tubbo@soundstorm.social
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Flash-Messages:
      - "[]"
      X-Page-Title:
      - 'translation missing: en.users.webfinger.title'
      X-Requested-With:
      - ''
      Etag:
      - W/"f1e888ea1ce1904d6273f5b643cd87b1"
    body:
      encoding: UTF-8
      string: '{"subject":"acct:tubbo@soundstorm.social","links":[{"rel":"self","type":"application/activity+json","href":"https://soundstorm.social/tubbo"}]}'
  recorded_at: Tue, 23 Jul 2019 03:26:58 GMT
recorded_with: VCR 4.0.0
