env:
  global:
  - secure: iMQuMsO9z1PEarI96djfVnxGyn8kzjHNBU1i1zIQhY2b0C/nHT5YCMH+/NBQ91V2c5cbx3TpbklgkPBTV/3XeUK3M6OIzyMWfQu3t6zCuE/Kx43BglzLXza6Y3rlviJdFlkMwwT7pwFOnLNPCgI7u/9ey9G8OpVXhAZPKDvpX39QlbU7jIn2lGojUocwrTvAcPSubWRMgoMYOt1ijWpA8IUO/dNbzNcuj99phGN2LFexJG65oFHIbdfJADw1gdSObIkghy6mbdKH1fu03dmV/wOqlbp+QJaAH/nMlFL8xD39muFR7tzfWOrblo5McN7eJnrJ1KpicL6g4tW3PnlcdyS4OvsDkKqvlbsp9j8nWt5bNrsRLA+2x8rP3V4UPHFk6kHb1LkBjnqJWmdlp4qB3QxP8DF9IyYNkFfxXy9wpYc7kkCJ7hdu74RJenBBaG4i0/fmKlGAVezLC7ERHb0xqnwDfyXGhJ8qLFtLpMh+bAE5tPtHNNnB61VXVMZvyUyBCRf8dYfr4ytRdmkqq8LtiNqvtoPLK0bpJeg0S4Gw0GJaAqEddd1ciRfdf9TN790S9avAN0tfDcX/zDunFApm2EEYmDNBw0AQaASBFE1hslo9gATmlcZs86XraUj2qL1QHCA3Cm6b3xmXCjNFvL3Jpy/H9UKxUqabrXi5+FvGQkA=
  - secure: EielS+L4v6PNkBt/UNQH/2QeeGVa96hZJDRdl7AJ/Ma9vEz1iWxgEqv8zropAxi/9Va3Xh0dxKykIWXSNHhb3crYdltmx1rt5ZPt1UfzdSo1koeu4JF9c/kuOHc8WfpPtQd+Ql0cnfBj6/tN5Z12+jCl/kgx3Avkjl61l5DP+YnR1rSFC/FXve1UDB5qKH3UyjF35/vkIHIhVboK67qW9fezswUHfiis/GxxCWER6jqR1bgMTwvvibmyLBiDVds9BYT1svbSHXkqHH1mw/a6HZ3DVPCuYbas3KUpfUAhNX5y8Sv/CrakRVOBE0rOWAQZ3hfncRnLY+0r7+3/ljHeFm7w/u3ALsdZ6Z6Q66zeDINTZWhiCFYT9cLkMzIVjcqU1vbKXJmXHChzTta42i4fORM06hmy5eVV7OmeIljpfq8tODra+AGEBmywW0XviBrE7oTpiPrLu/uB/OuEVgaDs/j/0muSumP83ZTXXFVPfoiUhmSECFBJPci5r/ED2IrGsD/L68S+Le2ido0WTqSJNpoA5ixO2icb2U8ouyf/YD33yWyoqR8Aer2YMneA2gbG6qk+zryIUxWHaifqq9i8UepopSjeaEjxyP8S1KbtOOT2AKuBgE31ufnKZt7YfXsUIvA+2CVqHeddJJKPXMaIaRiHqjcbWEBISVz14+WfOIU=
  - secure: Wqed5hvC66F3fKbZt3EZtmFnZdlCe5kzdqZ0yRwEcmqUHg/iI/o2GBEPX2kaL+HSO58ThBDffquWb+BKC4Cts2TVI8vI2faoAWvsr1W5q0PzkpDrd8xXQP5mbxcuOfc7RbuernCHwsHYLa1BcaX4k3nodStLXu8YTdm4/L8FsuOPWQAhZcNmbDEf9NhNUOqE2PEeviZx7q83e5Gm/YWciN1qcrauDvWWA+N6iUW30RFod8oQd7cHteGBjdh6XeOR6XP/28X3yphFBXcocUacDR5/9mX1qRsDailoz9577nPaXv6h7W6PMp4eqQqYvT1izTeijQrNk6J23T27ZadSfdka17ph+ToqOcT3FxCVyQmt2Ix56wkmQ1XhKRSJuFkUPeofzLUGBMCKvW/mzWv3bVjLXTjTWD9vgHVmvY3hUpQGCRtybf0bUoU20d/XbOIO1vfITwVAssswDNB0BG4PrdfIiYRCpjW+zHW7NbrB1vA0SiiXikHEW2y+lewVDUF8SyBznAPfB4dfTzOXS8Wf7YL9puPK3hjCITYv+UtQJfBLxk/L7XGQFI3l3vQaKyaCbWTY0riRuuZzAfIvCW+jBJRuz43HsPZvouDS6FliPaoUXHcGmVIauay7T5upZegYbiIiOd/XgkBdykhHixOfl1Xx/w2S1J3oksymOIAtfbo=
  - secure: qNZ89oaVWzsGwKI7TizGh4XrxbT/cLGn7Rlydv9G5+k+fD1/N1dYHyFWSlz7yeNt0gMXSgLmi6WtrzHe0BRvFGcQhkr2UNG+r2HtB1l4gnaEekvQju7CchhTuTIUQ9SS10K/0kmHtobHQwaPPjrs9y3QIrrdU0c2RKgHKRssj/iHvZg57iblbSBpwPEH1Q8vPhqR3gBiPC3eFmBYd8vfmmpdgh+3PSr2s+ailmec38nnAwFWpNjIEnWOeZy/r+AYkhscTlT5YoRLSoJUwBOKjhOBDaJ7yLtnlLpXdSxzxnP8b/7f8j66O5KnJ/iQTaxgEE8puuTLmkqfo80GRWJ3wC0JjqKam9GuPAF9hC0Icar8EEZp8Oc7DDU2m/2/5r+/Lw6cWQ2/yV2VpYR7WQ6Jiu110lmbKY+jXI5a+FNKN7etdqKUpV5lbjxTe5kEpzBo2klvSRHc7X/bchEiuRX/rD/gBV1gpn6qpcQrDO61zD/lJPYUgjeF7T0y6kyPI+2c2n3lm0z32ma3BqBTyoBEd+iHoJrphIvifPiyBKfM35bJ4iwTCZbtHjNLL/v2Tm06GxMiq8flXm3O6zSg7gd9yTyqC2UkCZIGjSz1KL4+ycVO0ZTh+1BnRQiYaoq39juEGZ/aiqexuCvuVwhotzSw1YjR1od/lwVg3vBaTNxsZBc=
language: ruby
services:
  - docker
addons:
  apt:
    sources:
      - sourceline: https://deb.nodesource.com/setup_8.x
      - sourceline: deb https://dl.yarnpkg.com/debian/ stable main
        key_url: https://dl.yarnpkg.com/debian/pubkey.gpg
    packages:
      - libdsndfile1-dev
      - ffmpeg
      - nodejs
      - yarn
cache: bundler
bundler_args: "--without development production"
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
    > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - "./cc-test-reporter before-build"
after_script:
  - "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
deploy:
  - provider: script
    script: bash bin/soundstorm release
    on:
      tags: true
  - provider: script
    script: bash bin/soundstorm deploy
    on:
      tags: true
