#
# Caddy httpd configuration for Soundstorm
#

{$SOUNDSTORM_HOST} {
  log stdout
  errors stderr

  tls {$SOUNDSTORM_ADMIN_EMAIL}

  proxy / http://web:3000 {
    fail_timeout 300s
    transparent
    websocket
    header_upstream X-Forwarded-Ssl on
  }
}
