= upload_form_with model: track do |f|
  %main.form__fields
    = render 'fields', f: f
  %footer.form__controls
    - disable = { disable_with: 'Please wait...' }
    = f.submit t(:submit, scope: [controller_name, action_name]), data: disable
