.track-summary
  .track-summary__title.track-title
    %h2.track-title__name= track.name
    %h3.track-title__artist by #{track.user.name}
  .track-summary__player
    = render 'tracks/player', track: track
