- comment_model = [comment.user, comment.track, comment]
= form_with model: comment_model, class: 'form comment-form' do |f|
  %main.comment-form__content
    %aside.comment-form__sidebar
      - if comment.user.avatar.attached?
        = image_tag comment.user.avatar.variant(resize: '50x50')
    %fieldset.comment-form__fieldset
      .form__fields
        .form__field
          = f.text_area :content, class: 'comment-form__content-editor'
  %footer.form__controls.comment-form__controls
    = f.submit_button
