.button {
  background: darken($link-color, 10%);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background 1s ease-in-out;
  cursor: pointer;

  &:hover {
    background: darken($link-color, 20%);
  }
}

  .button--small {
    padding: 10px 16px;
  }

  .button--large {
    padding: 15px 32px;
  }
