.comment {}
.comment__metadata {}
.comment__user {
  font-weight: bold;
  text-decoration: none;
}
.comment__date {
  text-decoration: none;
}
.comment__content {}
.comment__avatar {
  vertical-align: middle;
  margin-right: 10px;
}
.comment__links {
  text-align: right;
}
