.form {}
.form__errors {}
.form__fields {}
%form-field-spacing {
  margin: 3vh 0;
}
.form__field {
  @extend %form-field-spacing;

  label, input, textarea {
    display: block;
  }
}
.form__checkbox-field {
  @extend %form-field-spacing;
}
.form__hint {
  display: block;
}
.form__hint--hidden {
  display: none;
}
.form__actions {
  margin-top: 2vh;

  button, input[type="submit"] {
    cursor: pointer;
  }
}
  .form__actions--right {
    text-align: right;
  }

.form-links {
  margin-top: 2vh;
}
