.form {}
.form__errors {}
.form__fields {}
%form-field-spacing {
  margin: 3vh 0;
}
.form__field {
  @extend %form-field-spacing;

  label {
    display: block;
  }
}
.form__checkbox-field {
  @extend %form-field-spacing;
}
.form__hint {
  display: block;
}
.form__actions {
  margin-top: 2vh;
}

.form-links {
  margin-top: 2vh;
}
