.navigation {}
.navigation__link {
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}
  .navigation__link--current {
    color: black;
  }

.profile-link {
  img {
    vertical-align: middle;
  }
}

.profile-link {
  display: flex;
}
