.navigation {
  height: 100%;
}
.navigation--buttons {
  display: flex;
}
.navigation--vertical {
  a {
    display: block;
  }
}
.navigation__link {
  padding: 5px;
  display: inline-block;
  margin-right: 8px;
  text-decoration: none;
}
  .navigation__link--current {
    background: #222;
    color: $foreground-color;
  }

.profile-link {
  img {
    vertical-align: middle;
  }
}

.navigation__button {
  margin: 0 15px;
  flex: 1
}
