.player {}
.player__interface {
  display: grid;
  grid-template-columns: 1fr 12fr;
}
.player__transport {
  text-align: center;
}
.player__button {
  margin-bottom: 1vh;
}
.player__duration {}
.player__elapsed {}
.player__left {}
.player__waveform {
  position: relative;

  img {
    max-width: 100%;
  }
}
.player__notch {
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  height: 100%;
  width: 1px;
}
.player__bar {
  text-align: right;
}
.player__links {}
.player__link {
  margin-right: 15px;
}
