.player {}
.player__interface {
  display: grid;
  grid-template-columns: 1fr 12fr;
}
.player__transport {
  text-align: center;
  background: black;
}
.player__button {
  margin-bottom: 1vh;
  text-align: center;
  padding: 15px;
}
.player__icon {
  @extend %fa-icon;
  @extend .fas;
  text-decoration: none;
  font-size: 2em;
}
  .player__icon--paused {
    &:before {
      content: fa-content($fa-var-play);
    }
  }
  .player__icon--playing {
    &:before {
      content: fa-content($fa-var-pause);
    }
  }
.player__duration {
  font-size: .8em;
  text-align: center;
}
.player__elapsed {
  display: inline-block;
}
.player__left {
  display: inline-block;
  margin-left: 5px;
}
.player__waveform {
  position: relative;

  img {
    max-width: 100%;
  }
}
.player__notch {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FFF;
  height: 100%;
  width: 1px;
}
.player__bar {
  text-align: right;
}
.player__links {}
.player__link {
  margin-right: 15px;
}
