.profile {}
.profile__cover {}
.profile__title {}
.profile__avatar {}
.profile__name {}
.profile__metadata {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.profile__fields {
}
.profile__field {
  dt, dd {
    display: inline-block;
  }

  dt {
    font-weight: bold;
    min-width: 5vw;
    text-align: right;
  }
}

.profile__numbers {
  display: flex;
  flex: 1
}
.profile__number {
  flex: 1;
  margin: 0 15px;
  text-align: right;
}
