.released-track {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;

  &:first-child {
    margin-bottom: 0;
  }
}

  .released-track--removed {
    opacity: 0.3;
    cursor: not-allowed;

    input, textarea {
      cursor: not-allowed;
    }
  }

.released-track__fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;

  input {
    width: 80%;
  }

  .form__field--textarea {
    grid-column: 1 / span 2;

    textarea {
      width: 100%;
      height: 20vh;
    }
  }
}
.released-track__number {
  input {
    width: 2vw;
  }
}
.released-track__controls {
  text-align: right;
}

.tracks {}
.tracks__list {}
.tracks__controls {
  float: right;
}
