.search {}
.search__summary {}
.search__title {}
.search__filters {}
.search__listing {}
.search__results {
  list-style: none;
}
.search__no-results {
  text-align: center;
  color: darken($foreground-color, 25%);
  font-size: 1.3em;
}

.search-filter {
  display: inline-block;
  padding: 5px;
  margin-right: 15px;
  text-decoration: none;
  border-radius: 8px;
  background: black;
  color: white;
}
.search-filter--current {
  border: 1px solid black;
  background: transparent;
}
.search-filter__count {
  font-size: 1.5em;
}
.search-filter__name {
}

.search-result {
  margin-bottom: 2vh;
}
.search-result__link {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
  .search-result--user {}
  .search-result--track {}

.search-result__image {}
.search-result__name {}
