.track-title {
  clear: both;
}
  .track-title--embedded {
    padding-left: 10px;
  }
.track-title__name, .track-title__artist, .track-title__provider {
  display: inline-block;
}
.track-title__name {
  margin-right: 15px;
  a {
    text-decoration: none;
  }
}
.track-title__artist {
  a {
    text-decoration: none;
  }
}

.activity {
  .track-title__artist {
    display: none;
  }
}

.track-title__provider {
  float: right;
}

.track-title__provider-message {
  text-align: right;
  padding-right: 10px;
}
