.dialog{ "data-controller": "dialog" }
  .dialog__overlay{ "data-target": "dialog.overlay" }
    / overlay for the rest of the page
  .dialog__window{ "data-target": "dialog.window" }
    .dialog__taskbar
      %p.dialog__title= title
      %a.dialog__close{ href: '#', "data-action": "click->dialog#close" }
        / X
    .dialog__content
      = content
