.dialog{ "data-controller": "dialog" }
  .dialog__window
    .dialog__taskbar
      %p.dialog__title
        <%= title %>
      %a.dialog__close{ href: "#close", "data-action": "click->dialog#close" }
        %i.flash-message__icon
    .dialog__content
      <%= content %>
