- action = 'animationend->flash-message#remove'
- data = { controller: 'flash-message', action: action }
.flash-message{ class: "flash-message--#{type}", data: data }
  .flash-message__text
    %p= message
  .flash-message__close
    %p
      %a{ href: '#close', data: { action: 'click->flash_message#close' } }
        %i.flash-message__icon
