.flash-message{ class: "flash-message--#{type}", data: { controller: 'flash_message', type: type } }
  .flash-message__text
    %p= message
  .flash-message__close
    %p
      %a{ href: '#close', data: { action: 'click->flash_message#close' } }
        %i.flash-message__icon
