- if update.item.present?
  .activity
    %header.activity__event
      %span.activity__subject= update.user.name
      %span.activity__action= t(:action, scope: update.i18n_scope)
      %span.activity__object= t(:object, name: update.item.name, scope: update.i18n_scope)
    .activity__content
      = render update.item
