.flash-message{ class: "flash-message--#{type}", data: { controller: 'flash' } }
  .flash-message__text
    %p= message
  .flash-message__close
    = link_to '&times;', '#close', data: { action: 'click->flash#close' }
