.flash-message{ class: "flash-message--#{type}", data: { controller: 'flash' } }
  .flash-message__text
    %p= message
  .flash-message__close
    %p
      = link_to '#close', data: { action: 'click->flash#close' } do
        = '&times;'.html_safe
