%article.splash
  %header.splash__title
    %h1 Soundstorm
    %h2 Share your music with the Fediverse.
  %main.splash__about
    %p Soundstorm is a music sharing platform.
  %footer.splash__buttons
    %nav
      = splash_link_to :login, new_user_session_path
      = splash_link_to :signup, new_user_registration_path
